#header {
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 900px;
}
#headerleft {
    padding: 15px;
    float: left;
}
#headerright {
    padding: 15px;
    float: right;
}
#headerright_1{
    position: absolute;
    right: 125px;
}
#headerright_2{
    position: relative;
    top: -6px;
}
#footer {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    min-width: 900px;
    height: auto;
}
#footerleft {
    padding: 15px;
    float: left;
}
#footerright {
    padding: 15px;
    float: right;
}
#main {
    position: relative;
    text-align: center;
    width: 100%;
    top: 200px;    
    min-width: 900px;
}
input[type=text]{
    box-sizing: border-box;
    padding: 12px 50px 12px 20px;
    margin: 15px 0;
    width: 460px;
    border: 1px outset #e8e8e8;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC);
    background-color: white;
    background-position: 419px 6px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    display: inline-block;
    vertical-align: middle;
}
input[type=text]:hover {
    border: 1px outset lightgray;
}
input[type=submit] {
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}
input[type=submit]:hover {
    border: 1px solid #b2b2b2;
    color: black;
}
#language {
    font-size: small;
    font-family: arial,sans-serif;
}
.links_h a:link {
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    font-family: arial,sans-serif;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}
.signin a:link, .signin a:visited {
    padding-left: 15px;
    color:rgb(255, 255, 255);
    opacity: 100%;
}
.links_f a:link {
    padding-left: 15px;
    text-decoration: none;
    cursor: pointer;
    color: #666;
    font-family: arial,sans-serif;
    font-size: small;
}
.languagelink a:link {
    color: #1a0dab;
    font-family: arial,sans-serif;
    text-decoration: none;
}
a:visited {
    color: #609;
}
.links_h a:hover, .links_f a:hover, .languagelink a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
.options {
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position-x: -132px;
    background-position-y: -38px;
    background-size: 528px 68px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 13px;
    height: 30px;
    line-height: normal;
    opacity: 0.55;
    outline-color: rgb(0, 0, 0);
    outline-style: none;
    outline-width: 0px;
    text-align: left;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 30px;
}
.country{
    font-size: 15px;
}
.signin{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(top, rgb(60, 122, 228), rgb(63, 118, 211));
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-color: rgb(66, 133, 244);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(66, 133, 244);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(66, 133, 244);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(66, 133, 244);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: solid;   
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 0px 0px inset;
    color:rgb(255, 255, 255);
    cursor: default;
    display: inline-block;   
    filter: none;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: 700;   
    height: 28px;
    line-height: 28px;
    outline-color: rgb(255, 255, 255);
    outline-style: none;   
    outline-width: 0px;
    padding-bottom: 0px;
    padding-left: 12px;   
    padding-right: 12px;
    padding-top:0px;
    text-align: left;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    user-select: none;
    white-space: nowrap;
    width: 43.3438px;
}